.tab-link{
	font-size: 28px;
}
.px-custom {
  padding-left: ($spacer * 6) !important;
  padding-right: ($spacer * 6) !important;
}

.paragraph{
	font-size: 20px;
}

.img-thumbnail{
	border: 0;
}
.jumbotron{
	background-color: white;
}
.my-footer{
	background-color: red;
}
.big-text{
	font-size: 50px;
	color: white;
}
.line{
	border-color: white;
}
.less-big-text{
	font-size: 45px;
	color: white;
}
